:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

*body{
    box-sizing: border-box;
}

 h1{
    font-family:serif;
    margin:0;
    font-size:200%;
    word-spacing:3px;
    font-weight:300%;
    letter-spacing:1px;
    color:#fff;
    text-align: center;
}


body {
background: linear-gradient( 180deg, #008aff, #ff137d), url(pexels.jpg) center;
background-blend-mode: screen;
background-size:cover;
background-position:center;
height:100vh; 
background-attachment: fixed;
}

.container b{
    width:26px;
    font-family:cursive;
    color:#fff;
}

.container {
  color:#fff;
  font-family:sans-serif;
  font-size:100%;    
  max-width: 200px;
  height: 50vh;
  margin-top: 50px;
  border-radius: 4px;
  overflow: hidden;
  border-radius:20px 20px 5px 5px;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
  display: grid;
  align-items: stretch;
  background: linear-gradient( 180deg, #008aff, #ff137d), url(cont.jpg) center;
  background-blend-mode: screen;
  margin-top: 25%;
  padding: 35px 30px;
  padding-left: 4ch;
  flex-direction: column;
}

audio{
  width:100%;
  position: relative;
  bottom: 3%;
  padding-right: 10ch;
  outline: none;
}